* {box-sizing: border-box; }

body {     /*   entire site INCLUDES HEADER  */ 
  background-color: white;  
  font-size: 30px; 
  color: #0f120c; /* text color */
  font-family: Arial, Helvetica, sans-serif;
  border-color: rgb(30, 11, 234); 
  border-width: 10px; 
  border-style: solid; 
  }

header{   /*   WEBSITE TITLE BANNER   */ 
  letter-spacing: .25em;
  margin-top: 0px;
  text-align: center;  
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 3em;
  background-color: navy;
  color: white;  
  } 

#wrapper {
  background-image: white; 
  /* linear-gradient(to bottom, #98abf6,rgb(241, 231, 241)); */
  } 

nav {  
  text-align: center;
  font-weight: bold;
  padding: 0;
  font-size: 75%;
  } 

nav ul {
  list-style-type: none;
  font-size: 2.2em; 
  margin: 0;
  padding-left: 0;
  } 

nav li {
  border-bottom: #e0299a 1px solid;
  }    

nav a:link{color: #5c7fa3}
nav a:visited {color: #344873}
nav a:hover {color: #a52a2a}

main {
  font-size: 20px; 
  overflow: auto;
  background-color: white;
  padding: 1px;
  overflow: auto;
}  

  h7 {  /* Facts About Dog */
    font-size: 55px;    
    text-align: center;
    color: navy;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px;  
    width: 100%; 
  }

  #FactsAboutGrid {  
    font-weight: bold; 
    width: 100%;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:navy; 
    text-align: center; 
    border-color: rgb(130, 107, 229);
    border-style: solid;
    border: 10px;
  }

.dogGrid {  
  display: flex;
  column-width: AUTO;
  column-gap:200%; 
  padding: 2%; 
  font-size: 200%; 
  font-weight: bold; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: navy;
  text-align: center; 
  position: relative; 

}

/*  ******** does something to FILL IN ALL OF BODY ******88  */ 
div {   /*  does something to separate navation pane  */ 
  font-size: .90em;
  color: navy;
}  


/* ****** DATA FOR home tabs to be horizonal  ****** */
@media (min-width: 600px) {
  nav ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around }
  nav li {
    border-bottom: pink; }
}
@media (min-width: 1024px) {   
}

table {
  border: 2px solid #3399CC; 
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
td {padding: 0.5em; border: 2px solid #923cb1;text-align: left; }
th {padding: 0.5em; border: 2px solid #3399CC; text-align: center; }
tr:nth-of-type(odd){background-color: #f5fafc;}

.column {
  float: left;
  width: 50%;
  padding: 5px; }


footer {
  text-align: center;
  font-style: italic;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #ffffff; 
}

#container4 {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #bae0f0; 
  border-style: solid;
  border: 25px; 
}
